<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeet Room</title>
    <link rel="stylesheet" href="/global.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/simple-peer/simplepeer.min.js"></script> -->
    <script src="/simplepeer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/abquery@0.3.4/dist/index.min.js"></script>
    <style>
        body{
            background-color: aliceblue;
        }
        video{
            margin-bottom:5px; 
            width:300px;
            height:300px;
            object-fit: cover;
            border-radius: 5px;
        }
        #grid{
            display:flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    </style>

    <script src="/script.js" defer></script>
    <script defer>
        const roomID="<%= roomID %>"
        // console.log(roomID)


        document.addEventListener("DOMContentLoaded", () => {
            let copyText = document.getElementById("inputcopy");
            copyText.style.width='75%'
            copyText.style.border='none'
            copyText.style.outline='none'
		    copyText.value = window.location.href
            document.getElementById('copy').onclick=()=> {
            copyText.select();
            document.execCommand("copy");
        }
    })
    </script>
</head>
<body>
    <div slot="display:flex;">
        <h1 style="text-align: center;">Peet Meet Room</h1>
    </div>

<!-- <button id="join">join camera and audio</button> -->
<main id="grid">
</main>

<div style="margin-top:20px;display:flex;justify-content:center">
    <input id="inputcopy">
    <button id="copy">copy link</button>
</div>

</body>
</html>